<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/home/login.css" />
    <script src="/js/home/login.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <h1>Welcome</h1>

        <form class="form">
          <input id="id" type="text" placeholder="아이디" />
          <input id="name" type="text" placeholder="이름" />
          <input id="pw" type="password" placeholder="비밀번호" />
          <input
            id="confirm-pw"
            type="password"
            placeholder="비밀번호 재입력"
          />
          <button type="submit" id="login-button">회원가입</button>
          <p class="message">
            이미 계정이 있으신가요? <a href="/login">로그인</a>
          </p>
        </form>
      </div>

      <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </body>
</html>
